<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhPnNPn3rD_gL0HlYXwtDdoRjltwDIJVA</string>
	<key>GCM_SENDER_ID</key>
	<string>564875037088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.signupAndLogin</string>
	<key>PROJECT_ID</key>
	<string>medical-reminder-app-8ce9e</string>
	<key>STORAGE_BUCKET</key>
	<string>medical-reminder-app-8ce9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>photo libray usage</string>
	<key>NSCameraUsageDescription</key>
	<string>camera usage</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>microphone usage</string>
	<string>1:564875037088:ios:082ad80b0097b45f2abcc5</string>
</dict>
</plist>